# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
/build*/
/_*/

# Python files
__pycache__

*.xyz
*.cif
*.txt
subprojects/json-fortran-8.2.5.wrap
!notes/capture/**/*
test/perf/4ins.pdb
*.ncu-rep
.env